
body {
  font-family: Georgia;
}

.main-content {
  display: block;
  width: 25%;
  /*margin: auto;*/
}

h1 {
  color: blue;
}

.incomplete {
  color: red;
}

.complete {
  color: green;
  text-decoration: line-through;
}

li:hover {
  display: inline-block;
  cursor: pointer;
}
