
body {
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue";
  background-color: #FAF8EF;
}

.main-content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*margin: auto;*/
}

.todos-container {
  width: 500px;
  margin-right: 50px;
}

.gifs-div {
  width: 700px;
}

#gifs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#gifs li {
  margin: 4px;
}

#fetch-gifs {
  margin: auto;
}

h1 {
  font-weight: bold;
  margin-top: 0;
  color: blue;
  text-align: center;
}

h4 {
  font-size: 15px;
}

.incomplete {
  color: red;
}

.complete {
  color: green;
  text-decoration: line-through;
}

.todos-list li:hover {
  cursor: pointer;
  display: inline-block;
}

#gifs {
  list-style-type: none;
}

.gif-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  display: block;
  font-size: 20px;
  width: 30%;
  border-radius: 3px;
  border-style: solid;
  color: white;
  font-weight: 500;
}

button:focus, #form-submit:focus {
  outline: none;
}

button#fetch-gif {
  border: 1px solid #693bbf;
  background-color: #693bbf;
}

button#clear-gifs {
  border: 1px solid #C454DD;
  background-color: #C454DD;

}

button#clear-todos {
  border: 1px solid #F22133;
  background-color: #F22133;
}

#form-submit {
  width: 100px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #1A7477;
  border-style: solid;
  background-color: #1A7477;
  color: white;
  font-weight: 500;
}

form input[type=text] {
  font-size: 15px;
  line-height: 20px;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
}
